# Gateway Port
PORT=4000

# MongoDB connection URIs
AUTH_MONGO_URI=mongodb://localhost:27017/authServiceDB
COMMUNITY_MONGO_URI=mongodb://localhost:27017/communityServiceDB
BUSINESS_EVENT_MONGO_URI=mongodb://localhost:27017/businessEventServiceDB

# Define the port numbers for microservices (for seed script reference)
AUTH_PORT=4001
COMMUNITY_PORT=4003
BUSINESS_PORT=4004
AI_PORT=4005
